// 全站設定

*,*::before,*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    color: $c-text;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: $font-family-base;
    line-height: 1.5;
    color: $c-text;
}

// d-flex
.d-flex {
    display: flex;
}
.f-jcsb {
    justify-content: space-between;
}
.f-jcc {
    justify-content: center;
}
.f-jcfe {
    justify-content: flex-end;
}
.f-aic {
    align-items: center;
}
.f-wrp {
    flex-wrap: wrap;
}