// 全站設定

*,*::before,*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    color: $text-color;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: $font-family-base;
    line-height: 1.333333;
    color: $text-color;
    background: $secondary-color;
}

.container{
    max-width: $width;
    margin: 0 auto;
}

// d-flex
.d-flex {
    display: flex;
}
.f-jcsb {
    justify-content: space-between;
}
.f-jcsa{
    justify-content: space-around;
}
.f-jcse{
    justify-content: space-evenly;
}
.f-jcc {
    justify-content: center;
}
.f-jcfe {
    justify-content: flex-end;
}
.f-aic {
    align-items: center;
}
.f-wrp {
    flex-wrap: wrap;
}