// -----------------header_navbar-----------------

.nav{
    background: rgba(0,0,0,0.75);
    width: 100%;
    position: fixed;
    z-index: 100;
}
.logo{
    background-image: url(../images/logo_w@svg.svg);
    width: 120px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    margin-left: 42px;
}

.menu{
    margin-right: 32px;
    &_btn{
        color: #fff;
    line-height: 21px;
    padding: 18px 16px;
    &:hover{
        color: #FF5E45;
        transition: 0.3s;
    }
    }
}

// -----------------header_banner-----------------

.banner{
    background-image: url(https://raw.githubusercontent.com/Key0329/HexSchool_RWD_final/main/app/assets/images/header_desktop.png);
    background-size: cover;
    background-position: 50%;
    height: 420px;
    margin-bottom: 30px;
    &_slogan{
        background: rgba(0,0,0,0.35);
        width: 460px;
        height: 152px;
        text-align: center;
        color: #fff;
        h2{
            font-size: 36px;
            line-height: 48px;
            margin-top: 20px;
            margin-bottom: 1rem;
        }
        p{
            line-height: 21px;
        }
    }
}

// -----------------footer-----------------

.footer{
    .container{
        padding: 50px 42px;
    }
    &_about_us{
        width: 42.95977%;
        h3{
            font-size: $fz-l;
            line-height: 32px;
            margin-bottom: 1rem;
        } 
    }
    &_contact{
        width: 42.95977%;
        margin-left: 20px;
        h3{
            font-size: $fz-l;
            line-height: 32px;
            margin-bottom: 1rem;
        } 
        li{
            list-style-type: disc;
            list-style-position: inside;
        }
        &_link{
            display: inline-block;
            &:hover{
                color: #FF5E45;
                transition: 0.3s;
            }
        }
    }
}

.footer_logo_l{
    background-image: url(https://raw.githubusercontent.com/Key0329/HexSchool_RWD_final/d372b4767ea537d584a74590366906cef89254e0/app/assets/images/logo_l%40svg.svg);
    width: 244px;
    height: 49px;   
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    margin-bottom: 22px;
}

.footer_icon{
    li{
        margin-left: 12px;
    }
    .fa-google-plus-square{
        color: #DB4437;
    }
    .fa-twitter-square{
        color: #41ABE1;
    }
    .fa-facebook-square{
        color: #3A5795;
    }
}

@media(max-width:576px){
    .container{
        flex-direction: column;
        align-items: center;
        
    }
    .footer_about{
        flex-direction: column;
        align-items: center;  
        margin-bottom: 30px;  
    }
    .footer_about_us{
        width: 100%;
        margin-bottom: 30px;

    }
    .footer_contact{
        margin-left: 0;
        width: 100%;
    }
}