.register{
    flex-direction: column;
    &_logo{
        margin-bottom: 5px;
    }
    &_slogan{
        font-size: $fz-m;
        margin-bottom: 35px;
        font-weight: bold;
    }
    &_content{
        width: 60.54687%;
        padding: 15px;
        border-top: 4px solid #FF5E45;
        box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.16);
        &_title{
            font-size: $fz-s;
            font-weight: bold;
            text-align: center;
            margin-bottom: 16px;
        }
        &_group{
            p{
                width: 48.30508%;
            }
            form{                
                width: 48.30508%;
                flex-direction: column;
                label{
                    line-height: 21px;
                    margin-bottom: 3px;
                }
                input{
                    width: 100%;
                    background: rgba(255,255,255,1);
                    border: 1px solid rgba(204,204,204,1);  
                    box-shadow: inset 0 1px 0 0 #ececec;
                    border-radius: 3px;
                    padding: 8px 0 8px 30px;
                    margin-bottom: 12px;
                }
                .email_input{
                    margin-bottom: 15px;
                }
                a{
                    font-size: $fz-xs;
                    color: #FF5E45;
                    margin-top: -12px;
                    margin-bottom: 30px;
                    &:hover{
                        text-decoration: underline;
                    }
                }    
            }   
            &_input{
                position: relative;
                i{
                    position: absolute;
                    top: 9px;
                    left: 9px;
                    opacity: 0.5;
                }
            }
            &_button{
                align-self: flex-end;
                width: 125px;
                height: 32px;
                font-size: $fz-xs;
                text-align: center;
                background: rgba(245,108,35,1);
                color: #fff;
                border-radius: 3px;
                border: none;
                cursor: pointer;
                &:hover{
                    opacity: 0.5;
                }
            }
        }        
    }
}

@media(max-width:768px){
    .register_content{
        width: 80%;
    }
}
@media(max-width:576px){
    .register_content_group{
        flex-wrap: wrap;
        p{
            width: 95%;
            margin-bottom: 30px;
        }
        form{
            width: 95%;
            margin-bottom: 30px;
        }
    }
}