// variable

$width: 960px;

$primary-color: #3F5D45;
$secondary-color: #EAF0ED;
$text-color: #3F5D45;
$border-color: #EAF0ED;

$fz-l: 24px;
$fz-m: 20px;
$fz-s: 16px;

$font-family-base: "PingFang TC", "SF Pro Text", "微軟正黑體", sans-serif;
$font-family-title: "Monospace";


